# System Files
/.vscode/
/.idea/
.DS_Store

# Temporary Files
/var/

# Disted Files
/.env

# Environment Files
/.env.local
/.env.*.local

# Go Files
__debug_bin
debug.test

# Project Specific Files
*_git_excluded*
